.textValue {
  margin: 20px 0px 5px 20px;
  font-family: Pretendard;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.3px;
  color: #fff;
}
