.BG {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 36px;
  padding: 6px 8px;
  background-color: #0c0f13;
  -webkit-app-region: drag;
}

.Rectangle {
  box-sizing: border-box;
  height: 100%;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: #0c0f13;
  display: flex;
  flex-direction: row;
  -webkit-app-region: no-drag;
}

.Icon01Basic16pxRefresh {
  width: 16px;
  height: 16px;
  margin: 0 2px 0 0;
  object-fit: contain;
  -webkit-app-region: no-drag;
}

.refreshText {
  margin-top: 2px;
  text-align: center;
  font-size: 12px;
  color: #8892a1;
  -webkit-app-region: no-drag;
}

.iconsWrapper {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  -webkit-app-region: no-drag;
}

.iconWrapper {
  box-sizing: border-box;
  width: 24px;
  height: 100%;
  padding: 4px;
  border-radius: 4px;
  background-color: #0c0f13;
  -webkit-app-region: no-drag;
}
